<tr id='{{client._id}}'>
  <td>
    {{client.firstName}}
  </td>
  <td>
    {{client.lastName}}
  </td>
  <td>
    {{client.country}}
  </td>
  <td>
    {{client.email}}
  </td>
  <td>
    {{client.phone}}
  </td>
  <td>
    {{client.regDate}}
  </td>
  <td>
    <div class='btn-group' role='group'>
      <button class='btn btn-info btn-sm update-client'>Actualizar</button>
      <button class='btn btn-danger btn-sm delete-client'>Eliminar</button>
    </div>
  </td>
</tr>